<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test" value="testValue"/>
  </appSettings>
  <connectionStrings>
    <add name="AlSys" connectionString="Data Source=104.214.38.78;Initial Catalog=AlSys;User ID=vspws;Password=V5pw3bservice!@"/>
    <add name="Falcon" connectionString="Data Source=104.214.38.78;Initial Catalog=Falcon;User ID=vspws;Password=V5pw3bservice!@"/>
  </connectionStrings>
</configuration>